.jumbotron{
    margin-bottom: 20px;
    
    padding: 20px;
}


@font-face {
    font-family: blogformat;
    src: url('../font/vazir-font-v18.0.0/Vazir.eot');
    src: url('../font/vazir-font-v18.0.0/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../font/vazir-font-v18.0.0/Vazir.woff') format('woff'),
         url('../font/vazir-font-v18.0.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
  }

.fontvazir{
     font-family: blogformat;
     
} 