{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block color %}
    <link rel="stylesheet" href="{% static 'accounts/register_info.css' %}">
{% endblock %} 
{% block content %}
    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-8 col-xs-12" style="margin: auto;text-align: right;direction: rtl;">
        <form method="post"  action="" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            
        <input type="submit" value="ذخیره" class="btn btn-primary" style="margin-top: 40px;">
        </form>
    </div>
{% endblock %}